[Unit]
Description=Kmonad Keyboard Remapping
After=graphical.target

[Service]
ExecStart=/usr/bin/kmonad /home/dherron/.config/kmonad/config.kbd
Restart=on-failure

[Install]
WantedBy=default.target
