[Unit]
Description=Kmonad Keyboard Remapping
After=graphical.target

[Service]
ExecStart=/home/drew/.local/bin/kmonad /home/drew/.config/kmonad/mods-bottom.kbd
Restart=on-failure

[Install]
WantedBy=default.target
